@import '~antd/es/style/themes/default.less';

button.btncom {
  background: linear-gradient(#fff, #f0f0f0);
  margin-left: 10px;
}
.manage_title{
  font-size:26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.divider{
  border-bottom: 1px solid lightgray;
  padding: 5px 0px;
  margin-bottom: 5px;
}
@media (max-width: 426px){
  .buttons_wraps{
    display:block;
  }
  button.btncom {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}