p.Home_Welcome_Wraps {
  margin: 0;
  font-weight: 600;
  font-size: 27px;
}
.ant-col.ant-col-7.clipart_images{
  text-align: right;
}
span.Home_forever_Wraps {
  float: right;
}
.Home_clicking_divs_wraps {
  margin-bottom: 15px;
  padding: 9px 9px;
  line-height: 2;
  border: 1px solid;
  cursor: pointer;
}
.Home_clicking_divs_wraps:hover {
  background-color: #fefefe;
}
span.Home_icons_Wraps {
  font-size: 18px;
}
p.Home_fonts_wraps {
  margin: 0;
  margin-top: -5px;
  font-weight: 600;
  font-size: 20px;
}
.Home_clicking_divs_wraps span {
  float: left;
  padding: 0px 4px;
}
.Home_icons_Wraps span.anticon.anticon {
  font-size: 31px;
}
.belowlinks_wraps {
  float: left;
  margin-top: 50px;
  padding-right: 50px;
}
p.para_links {
  margin: 0;
  font-size: 19px;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .ant-col.ant-col-7.clipart_images{
    display:contents;
  }
}
@media (max-width: 562px) {
  .Home_clicking_divs_wraps {
    padding: 12px 2px;
  }
  .Home_icons_Wraps span.anticon.anticon {
    font-size: 24px;
  }
  p.Home_fonts_wraps {
    font-size: 14px;
  }
  .ant-col.ant-col-7.clipart_images{
    display:contents;
  }
}
@media (max-width: 376px) {
  .Home_clicking_divs_wraps {
    padding: 12px 2px;
  }
  .Home_icons_Wraps span.anticon.anticon {
    font-size: 16px;
  }
  p.Home_fonts_wraps {
    font-size: 13px;
  }
  .ant-col.ant-col-7.clipart_images{
    display:contents;
  }
}
@media (max-width: 320px) {
  .Home_clicking_divs_wraps {
    padding: 12px 2px;
  }
  .Home_icons_Wraps span.anticon.anticon {
    font-size: 16px;
  }
  p.Home_fonts_wraps {
    font-size: 11px;
  }
  .ant-col.ant-col-7.clipart_images{
    display:contents;
  }
}
