@import '~antd/es/style/themes/default.less';

.ant-table-container table > thead > tr th {
  padding: 5px 20px !important;
  font-weight: 500;
  font-size: 11px;
  vertical-align: middle;
  border-top: 1px solid #ccc;
}
.ant-table-tbody > tr > td {
  padding: 10px 20px !important;
}
button.ant-btn.ant-dropdown-trigger.btn {
  background: linear-gradient(#fff, #f0f0f0);
}
Button.Send_Mail_BtnWrap{
margin-top: 15px;
}
Button.Unsubmitted_thisWeek_wraps{
  background:linear-gradient(#fff, #f0f0f0);
}