.total-hours {
  display: flex;
}
.ant-layout {
  background-color: white!important;
}
.ant-pro-basicLayout-content {
  margin: 0!important;
}
.add_new {
  width: 100%;
  background-color: #f0f2f5;
  padding: 20px 20px;
}
.ant-space.ant-space-vertical {
  padding: 0px 20px;
}
.add_new_btn btn{
  padding:10px 0px;
}
.ant-statistic-content {
  font-weight: 700;
}
button.ant-btn.add_new_btn {
  height: auto;
  padding: 4px 20px;
  background-color: green;
  color: white;
  font-weight: 600;
}
.ant-statistic-title {
  margin: 0!important;
  color: #929292!important;
}