@import '~antd/es/style/themes/default.less';

.total-hours {
  display: flex;
}
.ant-col.ant-col-24.left button.ant-btn.ant-btn-icon-only {
  float: left;
  background: linear-gradient(#fff, #f0f0f0);
}
.ant-col.ant-col-24.left p {
  float: left;
  margin-top: -4px;
  margin-bottom: 0;
  margin-left: 3px;
  padding: 0px 3px;
  font-size: 25px;
}
.ant-col.ant-col-24.left button.ant-btn.ant-dropdown-trigger.btn {
  float: right;
  background: linear-gradient(#fff, #f0f0f0);
}
.ant-col.ant-col-6.Circle_Wraps {
  position: relative;
  overflow: hidden;
}
p.green_box {
  float: left;
  margin-right: 8px;
  padding: 9px 9px;
  background: #0078c9;
}
p.skyblue_box {
  float: left;
  margin-right: 8px;
  padding: 9px 9px;
  background: #0078c966;
}
.paragraphs p {
  margin: 0;
  color: #626262;
  font-weight: 500;
  font-size: 14px;
}
p {
  margin: 3px 0px;
}
.ant-statistic-content {
  font-weight: 700;
}
.ant-statistic-title {
  margin: 0;
  color: #626262;
  font-weight: 500;
  font-size: 14px;
}
.left_text strong {
  float: right;
  padding: 0px 30px;
}
.ant-row.list_row {
  display:flex;
}

@media (max-width: 526px) {
  .ant-col.ant-col-24.left button.ant-btn.ant-dropdown-trigger.btn {
    float: left;
  }
  .ant-row.list_row {
    display:block;
  }
  .ant-col.ant-col-4.List_Cards_Wraps {
    display: contents;
  }
  .ant-col.ant-col-7.List_Cards_Wraps {
    display: contents;
  }
  .ant-col.ant-col-9.List_Cards_Wraps {
    display: contents;
  }
}