@import '~antd/es/style/themes/default.less';

.top-widget {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .top-widget-container {
    place-items: center;
  }
}
.ant-card-body {
  border: 1px solid #eae9e9;
}
.ant-layout {
  background-color: white;
}