.card-container p {
  margin: 0; /* no unit */
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: auto;
  min-height: 50vh;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background:#fff
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #141414;
  border-color: #141414;
}

.top-widget {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .top-widget-container {
    place-items: center;
  }
}

.card-left-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .time-hours {
    padding-right: 25px;
    font-weight: bold;
    font-size: 18px;
  }
}

.time-client-name {
  font-weight: bold;
  font-size: 18px;
}
.time-project-name {
  font-size: 12px;
}

.time-card-content {
  padding: 5px 0; /* no unit */
  border-bottom: 1px solid lightblue;
}

.time-list-footer {
  display: flex;
  justify-content: flex-end;
}
.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{
  background-color: white;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
  padding: 15px 29px!important;
  margin: 0px!important;
  border: 1px solid #73737324;
}
.card-container > .ant-tabs-card .ant-tabs-tab, [data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab{
  background:#f0f0f0;
  color: black!important;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane{
  background-color: #f0f0f0;
  border: 1px solid #b6b6b6;
}
.newentrywraps {
  padding: 105px 0px;
  text-align: center;
}
.newentrywraps button.ant-btn.ant-btn-primary.ant-btn-icon-only.btn {
  width: 60%;
  height: auto;
  background-color:#14a000;
  outline: none;
  border: none;
}
.newentrywraps span.anticon.anticon-plus {
  font-size: 50px;
}
.newentrywraps .entryclasswraps {
  cursor: pointer;
}
.ant-tabs-extra-content {
  padding:16px 30px;
  text-align:center;
  background: #f0f0f0;
  border: 1px solid #73737324;
}
span.ant-tag {
  border: none;
  background-color: inherit;
}
.ant-row.ant-row-center.time-card-content {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
}
.ant-tabs-tab.ant-tabs-tab-active {
  background-color: #b6b6b6!important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color:black!important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background-color:#dedede;
  color:#545454;
  outline:none;
  border: none;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
  background-color:#dedede;
  color:#545454;
  opacity: 0.5px;
  outline:none;
}