@import '~antd/es/style/themes/default.less';
p.backTeam_wraps {
  color: #888;
  font-size: 15px;
  cursor: pointer;
}
p.backTeam_wraps:hover {
  color: #5e5d5d;
}
Button.Teambtns {
  padding: 6px 10px;
  background: linear-gradient(#fff, #f0f0f0);
}
.ant-col.ant-col-24.WeekTeamwraps {
  position: relative;
  display: flex;
  overflow: hidden;
}
.ant-col.ant-col-24.WeekTeamwraps p {
  margin: 0;
  padding: 0px 10px;
  font-size: 24px;
}
.ant-col.ant-col-24.WeekTeamwraps span.ReturnHome_wraps {
  margin: 0;
  padding: 12px 0px;
  text-decoration: underline;
}
.noteWraps {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.icons_wraps {
  float: left;
  padding: 8px 25px;
  font-size: 36px;
}
.noteWraps p {
  margin: 0;
}
.noteWraps span.adminnote_wraps {
  margin-left: 9px;
  padding: 5px 10px;
  font-size: 11px;
  background-color: #ffffff87;
  border: 1px solid lightgray;
  border-radius: 60px;
}
.Team_UserName_Wraps {
  display: contents;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}
.ant-col.ant-col-6.TeamEdit_Wraps {
  position: relative;
  overflow: hidden;
  text-align: right;
}
Button.TeamEditsWraps_btns {
  margin-left: 8px;
  background: linear-gradient(#fff, #f0f0f0);
}
.Teambox1_Wrpas {
  position: relative;
  padding: 10px 10px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
  box-shadow: 0 2px 3px #2222221a;
}
.HrsCapFir_wraps {
  float: left;
  margin-right: 80px;
}
.HrsCapSec_wraps {
  text-align: left;
}
.Teambox1_Wrpas .head {
  margin: 0;
  color: #7c7c7c;
  font-size: 15px;
}
.Teambox1_Wrpas .timetake {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}
.Teambox1_Wrpas .Progress_Wraps {
  margin-bottom: 10px;
  padding-top: 6px;
}
.Teammulticolrwraps .Colorsbluewraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #52c41a;
}
.Teammulticolrwraps .Colorslightwraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #1890ff;
}
.Teammulticolrwraps .b1 {
  display: flex;
  float: left;
}
.Teammulticolrwraps .b2 {
  display: flex;
  float: left;
}
.Teammulticolrwraps p {
  margin: 0;
  font-weight: 700;
  text-align: right;
}
.Teambox2_Wrpas {
  position: relative;
  margin-top: 20px;
  padding: 10px 10px;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
  box-shadow: 0 2px 3px #2222221a;
}
.Teambox2_Wrpas .TeamDays {
  display: inline-block;
  padding: 0px 7px;
}
.Teambox2_Wrpas p {
  margin: 0;
}
.Teambox3_Wrpas {
  position: relative;
  margin-top: 20px;
  padding: 10px 10px;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
  box-shadow: 0 2px 3px #2222221a;
}
.Teambox3_Wrpas .Teambox_head p {
  margin: 0;
  font-weight: 800;
}
.Teambox3_Wrpas .Progress_Wraps {
  margin-bottom: 10px;
  padding-top: 2px;
}
.randomColor(){
  @randomColor: `Math.floor(Math.random()*16777215).toString(16)`;
  @colorHex: e(@randomColor);
  @color: ~"#@{colorHex}";
}

.Teambox3_trilColors_Wrpas .Colorsgreen_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  // background-color: #4ba33b;
}
.Teambox3_trilColors_Wrpas .Colorsorange_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #fb8333;
}
.Teambox3_trilColors_Wrpas .Colorspink_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #db5383;
}
.Teambox3_trilColors_Wrpas .Colorsperpple_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #935ba3;
}
.Teambox3_trilColors_Wrpas .b1 {
  display: flex;
  float: left;
}
.Teambox3_trilColors_Wrpas .b2 {
  display: flex;
  float: left;
}
.Teambox3_trilColors_Wrpas .b3 {
  display: flex;
  float: left;
}
.Teambox3_trilColors_Wrpas .b4 {
  display: flex;
  float: left;
}
.Teambox3_trilColors_Wrpas p {
  margin: 0;
  font-weight: 700;
  text-align: right;
}
.Teambox4_Wrpas {
  position: relative;
  margin-top: 20px;
  padding: 10px 10px;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
  box-shadow: 0 2px 3px #2222221a;
}
.Teambox4_Wrpas .Teambox_head p {
  margin: 0;
  font-weight: 800;
}
.Teambox4_Wrpas .Progress_Wraps {
  margin-bottom: 10px;
  padding-top: 2px;
}
.Teambox4_trilColors_Wrpas .Colorsgreen_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #4ba33b;
}
.Teambox4_trilColors_Wrpas .Colorsorange_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #fb8333;
}
.Teambox4_trilColors_Wrpas .Colorspink_Wraps {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  background-color: #db5383;
}
.Teambox4_trilColors_Wrpas .b1 {
  display: flex;
  float: left;
}
.Teambox4_trilColors_Wrpas .b2 {
  display: flex;
  float: left;
}
.Teambox4_trilColors_Wrpas .b3 {
  display: flex;
  float: left;
}
.Teambox4_trilColors_Wrpas p {
  margin: 0;
  font-weight: 700;
  text-align: right;
}

.ant-col.ant-col-18.TeamTable_Wraps {
  padding: 0px 20px;
}
.TeamTable_HeadTitile_Wraps {
  padding: 3px 0px;
  border-bottom: 1px solid rgb(189, 186, 186);
}
.TeamTable_HeadTitile_Wraps p {
  float: left;
  margin: 0;
  padding: 0px 10px;
}
.TeamTable_datafoucs_Wraps p {
  margin: 0;
  padding: 0px 10px;
  letter-spacing: 0.5px;
}
.Teamtable_Contentbase_Wraps {
  position: relative;
  display: flex;
  padding: 10px 0px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}
.TimeTable_Timeicons_wraps {
  position: absolute;
  right: 0;
  display: flex;
  padding: 3px 10px;
}
.TimeTable_Timeicons_wraps p {
  padding: 0px 20px;
  font-size: 19px;
}
.Teamtable_Contentbase_Wraps button.ant-btn.IconClick_Btns {
  padding: 1px 10px;
  background: linear-gradient(#fff, #f0f0f0);
}
p.TeamTable_TotalCount_wraps {
  padding: 5px 66px;
  font-size: 17px;
  text-align: right;
}



.ant-row > .error-container {
  flex-flow: row wrap;
  position: relative;
  display: contents;
}

.ant-col > .ant-col-24 > .error-children {
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  background-color: red;
}
