@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-modal-header {
  text-align: center;
  background-color: #f0f2f5 !important;
  border-radius: 6px !important;
}
.ant-modal-content {
  border-radius: 6px !important;
}
.ant-modal-content .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto;
  padding: 5px 10px;
  background: linear-gradient(#fff, #f4f4f4) !important;
}

.ant-table-container table > thead > tr th {
  padding: 5px 20px !important;
  font-weight: 500;
  font-size: 11px;
  vertical-align: middle;
  border-top: 1px solid #ccc;
}
.ant-table-tbody > tr > td {
  padding: 10px 20px !important;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
