.back_to_Project {
    cursor: pointer;
    transition:0.5s;
}
.back_to_Project:hover {
    opacity: 0.6;
    transition:0.5s;
}
.ant-col.ant-col-18.text-right {
    text-align: right;
}
p{
    margin: 0;
}
p.Head_Title{
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}
p.para_text{
    margin:0;
    margin-bottom: 15px;
}
p.Head_Title small {
    border-radius: 21px;
    font-size: 11px;
    background-color: white;
    color:#626262 ;
    border:1px solid #b6b6b6;
    line-height: 1;
    padding: 4px 8px;
    vertical-align: middle;
}
button.ant-btn {
    background: linear-gradient(#fff,#f0f0f0);
    margin-left: 10px;
}


.Bar_Chart_Card {
    background-color: white;
    padding: 20px 20px;
    border: 1px solid lightgray;
    position: relative;
    overflow: hidden;
}
.Box_Content {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}
.Main-Text {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 9px;
}
.Bar_Chart_Card .inline_box{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ant-tabs-content.ant-tabs-content-top {
    background-color: white;
    padding: 30px 10px;
}
.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
    margin: 0;
}
.ant-tabs-ink-bar {
    top: 0;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #2F54EB;
    text-shadow: 0 0 0.25px currentColor;
    background-color: white;
}
.ant-tabs-tab.ant-tabs-tab-active {
    background-color: white;
    padding: 0px 20px;
}