.ant-pro-table-list-toolbar-title {
    font-size: 25px!important;
}
.ant-col.ant-col-24.heading{
    margin-bottom: 20px;
}
.head_title h1 {
    margin: 0;
    font-size: 29px;
}
.ant-col.ant-col-4.progress_bar{
    text-align:right;
    padding: 0px 10px;
}
.ant-col.ant-col-6.Circle_Wraps {
    position: relative;
    overflow: hidden;
}
p.green_box {
    padding: 9px 9px;
    background: green;
    float: left;
    margin-right: 8px;
}
p.skyblue_box {
    background: lightblue;
    float: left;
    padding: 9px 9px;
    margin-right: 8px;
}
.paragraphs p {
    margin: 0;
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}
.paragraphs h2 {
    font-weight: 700;
    font-size: 26px;
}
p.Billable_Hourse {
    margin: 0;
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}
p {
    margin: 3px 0px;
}
button.Approvel_button{
    margin-top: 20px;
}